<p id="notice"><%= notice %></p>

<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Is published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <button id="btn-click" >クリック</button>
    <div id="target-container"></div>
    <%# <%= render partial: 'products', collection: @products, as: :product %> %>


    <%= form_with url: get_products_products_path, remote: true, method: :get do |form|%>
      <%= form.submit "クリックあるよ"%>

    <%end%>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
